:host {
    flex-grow: 1;
    display: flex;
}

.dashboardContainer {
    flex-grow: 1;
    display: flex;
}

.dashboardContainer .row {
    flex-grow: 1;
}

.dashboardSidebar {
    height: 100%;
    padding: 0;
}

.dashboardSidebar .sidebar-sticky {
    width: 20vw;
    cursor: pointer;
    text-align: center;
}

.info {
    width: 70%;
}

.navItem {
    padding: 10px;
    border-bottom: 1px solid #cfcfcf;
    outline: none;
}

.nav-link {
    color: #4c9eb4;
    font-weight: bold;
}

.nav-link i {
    font-size: 2em;
    margin-bottom: 5px;
}

.router-link-active {
    background-color: #3D7D8F;
}

.router-link-active a {
    color: #FFF!important;
}