<nav class="topNav navbar navbar-expand-md navbar-dark bg-dark border">
    <a class="navbar-brand" routerLink="/">
        <span style="color: aqua">DC</span>
        <span style="color: lime">YI</span>
        <span style="color: gold">$</span>
        <span style="color: red">Finance</span></a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
        data-target="#navbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-2" [hidden]="userObject == null">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/dashboard/profile">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/quote">Quote</a></li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2" [hidden]="userObject == null || auth.currentPortfolioId == null">
            <li class="nav-item"><a class="nav-link" routerLink="/overview"
                    routerLinkActive="nav-router-link-active">Overview</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/buy" routerLinkActive="nav-router-link-active">Buy</a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="/sell"
                    routerLinkActive="nav-router-link-active">Sell</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/history"
                    routerLinkActive="nav-router-link-active">History</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/quote"
                    routerLinkActive="nav-router-link-active">Quote</a></li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2" [hidden]="userObject != null">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/quote">Quote</a></li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2" [hidden]="userObject == null">
            <li class="nav-item" (click)="auth.signOut()"><a class="nav-link" routerLink="/">Log Out</a></li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2" [hidden]="userObject != null">
            <li class="nav-item"><a class="nav-link" routerLink="/login">Sign In</a></li>
        </ul>
    </div>
</nav>

<div class="navBackground" [hidden]="!offset"></div>