<div class="overviewHero">
    <h2>{{currentPortfolioName}} - Overview</h2>
    <div class="overviewWrapper">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stock of stock$; let i = index">
                    <td>{{ stock.stockName }}</td>
                    <td>{{ stock.stockSymbol }}</td>
                    <td>{{ stock.quantity }}</td>
                    <td>{{ stock.unitPrice }}</td>
                    <td>{{ stock.totalValue }}</td>
                </tr>
                <tr>
                    <td colspan="5" [hidden]="!noStocks">Click <a routerLink="/buy">"buy"</a> to get started</td>
                </tr>
                <tr class="summaryRow">
                    <td colspan="4"><b>Current Account Balance:</b></td>
                    <td><b>{{ helpers.usd(currentBal) }}</b></td>
                </tr>
                <tr class="summaryRow">
                    <td colspan="4"><b>Total Portfolio Value: </b></td>
                    <td><b>{{ helpers.usd(totalPortfolioValue) }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>