h2 {
    font-size: 3rem;
    margin: 10px 0;
    font-weight: bold;
}

.media img {
    width: 250px;
    height: 250px;
    margin: auto 0;
}

.media p {
    font-size: 1.5rem;
    text-align: left;
}

.media p.dataTitle {
    font-weight: bold;
}

.getStarted {
    margin-top: 50px;
    font-size: 2rem;
}