.portfolioListWrapper {
    border: 5px solid #3D7D8F;
    width: 90%;
    border-radius: 10px;
    margin: 50px auto;
    padding-top: -2px;
}

a {
    text-decoration: none;
}

table {
    width: 100%!important;
    table-layout: fixed;
}

thead {
    background-color: #3D7D8F;
}

thead th {
    background-color: #3D7D8F;
    color: #FFF;
    width: 25%;
    border-top: none!important;
    vertical-align: middle;
}

thead th.editButtonColumn {
    width: 12%;
}

tbody tr {
    border-left: 1px solid #DEE2E6;
    border-right: 1px solid #DEE2E6;
}

tbody tr td {
    width: 22%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

tbody tr td p {
    font-size: 0.8em;
}

tbody tr .editButtonColumn {
    width: 12%;
}

td input {
    width: 75%;
}

td input::placeholder {
    color: #FFF;
    opacity: 0.8;
    font-size: 0.8em;
}

td input,
td input:disabled {
    background: none;
    border: 3px solid #FFF;
    text-align: center;
    color: #FFF;
}

td input:focus,
td input:focus-within {
    background: none;
    border: 3px solid #CADCE1;
    color: #FFF;
    box-shadow: none;
    outline: none;
}

#transContainer input {
    width: 20%!important;
}

#transContainer select {
    background: none;
    margin: 0 10px;
    border: 3px solid #FFF;
    padding: 2px;
    color: #FFF;
    outline: none;
}

.adding td {
    background: #3d7d8f45!important;
}

.createButtons {
    border: none!important;
}

.createButtons td {
    border-top: none!important;
    background: #3d7d8f45;
}

.createButtons td button {
    border: 2.5px solid #3D7D8F;
    background: none;
    color: #3D7D8F;
    margin: 0 10px;
    font-weight: bold;
}

.addingPortfolioControls {
    border: none!important;
}

.addingPortfolioControls td {
    cursor: default!important;
    background: #3D7D8F;
    border-top: 2px solid #FFF!important;
}

#addPortfolioButton {
    margin: 0 10px;
    border: 2.5px solid #3D7D8F;
    background: none;
    color: #3D7D8F;
    font-weight: bold;
}

.addingPortfolioControls button {
    margin: 0 10px;
    border: 2.5px solid #FFF;
    background: none;
    color: #FFF;
}