.homeBackground {
    background: url("../../../assets/home/wallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    height: 90vh;
}

.homeWrapper {
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 5px groove #FFF;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 1.5%;
}

.homeWrapper h1 {
    font-size: 14em;
    color: #FFF;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 4px #FFF;
}