<div class="homeWrapper">
    <div class="hero1">
        <div class="overlay">
            <div class="text">
                <h2> Stonks .</h2>
                <p>
                    The Discovery College Student News organization has a multitude of different positions open for
                    application, with each catering for a specific skillset. Whether you are an inquisitive journalist,
                    tech guru or aspiring Picasso, our organization has a place for you and your skills.
                    <br><br>
                    This page will
                    guide you through the roles of our organization, the benefits of being a DCSN member, and how to
                    apply.
                </p>
            </div>
            <div class="image" [style.backgroundImage]="images.hero1Image"></div>
        </div>
    </div>
</div>