<div class="loginBackground">
    <div class="loginWrapper">
        <div [hidden]="userObject != null">
            <h2>Login/Signup</h2>
            <p>Please sign in with your google account.</p>
            <button (click)="auth.googleSignIn()">Sign in with Google</button>
        </div>
        <div [hidden]="userObject == null">
            <h2>You are logged in!</h2>
            <p>You are currently logged in as {{userObject.displayName}}</p>
            <p>If this is not your account, please log out.</p>
            <button (click)="auth.signOut()" routerLink="/">LOGOUT</button>
            <button [routerLink]="['/dashboard/profile']">GET STARTED</button>
        </div>
    </div>
</div>