.loginBackground {
    background: url("../../../assets/wallpapers/home.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    height: 80vh;
}

.loginWrapper {
    max-width: 500px;
    padding: 50px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 5px groove #FFF;
    border-radius: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
}

.loginWrapper button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}